.choices {
    display: flex;
    justify-content: space-around;
}

.options {
    flex-basis: 24%;
    margin: 1rem 2rem;
    border: 1px dashed dodgerblue;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

ul {
    list-style-type: none;
    padding-inline-start: 0.25rem;
}
